.current {
  text-align: center;
  margin: 150px 0 0 150px;
  padding: 20px;
  position: static;
  top: 10px;
}
#main-icon {
  font-size: 80px;
  position: relative;
  top: -45px;
}
#current-temperature {
  font-size: 100px;
  position: relative;
  top: -45px;
}
#city {
  font-size: 20px;
  font-weight: bold;
}
.temperature {
  font-size: 100px;
  display: inline-block;
}
p {
  display: inline;
}
.current-info {
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: -20px;
}
.city {
  font-size: 25px;
}
.date {
  display: block;
  margin: 0;
}
.current-advanced {
  margin: 10px auto;
  position: relative;
}
#temp-advanced {
  display: block;
  position: relative;
  top: -55px;
  font-weight: bold;
  margin: 5px;
}
.forecast {
  font-size: 20px;
  position: absolute;
  top: 49%;
  margin: 0px 0px;
}
.search-form {
  display: block;
  position: static;
  text-align: center;
}

.time {
  margin-left: 90%;
  font-size: 30px;
}

.buttons {
  position: relative;
  display: inline;
  left: 85%;
  top: 10%;
}

#f-button,
#c-button {
  border-radius: 45px;
  border-color: black;
  font-size: 20px;
  padding: 10px 15px;
  background: white;
  color: black;
  margin: 15px;
}

#f-button:hover,
#c-button:hover {
  transition: all 0.2s ease-in-out;
  background: black;
  color: white;
}
footer {
  text-align: center;
  font-size: small;
}
