.current {
  text-align: center;
  margin: 150px 0px 0px 0px;
  position: static;
  top: 10px;
  color: #f8c881;
}
#main-icon {
  width: 200px;
  position: relative;
  top: -75px;
}
#current-temperature {
  font-size: 100px;
  position: relative;
  top: -45px;
}
#city {
  font-size: 20px;
  font-weight: bold;
}
.temperature {
  font-size: 100px;
  display: inline-block;
}
p {
  display: inline;
}
.current-info {
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: -20px;
}
.city {
  font-size: 25px;
}
.date {
  display: block;
  margin: 0;
}
.current-advanced {
  margin: 10px auto;
  position: relative;
}
#temp-advanced {
  display: block;
  position: relative;
  top: -55px;
  font-weight: bold;
  margin: 5px;
}
.forecast {
  font-size: 20px;
  position: absolute;
  top: 49%;
  margin: 0px 0px;
  color: #f8c881;
}
.search-form {
  display: block;
  position: static;
  text-align: center;
}

.buttons {
  position: relative;
  display: inline;
  left: 80%;
  top: 10%;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#f-button {
  border-radius: 25px;
  font-size: 20px;
  padding: 10px 15px;
  background: #f4d19b;
  color: white;
  margin: 15px;
  border-width: 0px;
}
#c-button {
  border-radius: 25px;
  font-size: 20px;
  padding: 10px 14px;
  background: #f4d19b;
  color: white;
  margin: 15px;
  border-width: 0px;
}
#f-button:hover,
#c-button:hover {
  transition: all 0.2s ease-in-out;
  background: white;
  color: #f4d19b;
}
footer {
  text-align: center;
  font-size: small;
  opacity: 0.7;
  font-family: monospace;
}

.day1,
.day2,
.day3,
.day4,
.day5,
.day6,
.day7 {
  padding: 5px;
  margin: 5px;
}
#day-1-max,
#day-2-max,
#day-3-max,
#day-4-max,
#day-5-max,
#day-6-max,
#day-7-max,
#day-1-min,
#day-2-min,
#day-3-min,
#day-4-min,
#day-5-min,
#day-6-min,
#day-7-min {
  font-weight: lighter;
  color: #f1b458;
}
#city-input {
  padding: 12px;
  border-radius: 25px;
  border-width: 0px;
}
#city-input:focus {
  outline: none;
}
#submit-button {
  border-radius: 50%;
  padding: 15px 5px;
  background: #f4d19b;
  font-size: 12px;
  border-width: 0px;
  color: white;
}
#geo-button {
  position: relative;
  border-radius: 25px;
  padding: 6px 11px;
  margin: 15px;
  background: #d7e9f7;
  color: white;
  border-width: 0px;
  font-size: 25px;
  top: 5px;
}
#submit-button:hover,
#city-input:hover {
  transition: all 0.2s ease-in-out;
  background: #f4d19b;
  color: white;
}
#geo-button:hover {
  transition: all 0.2s ease-in-out;
  background: white;
  color: #d7e9f7;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
#icon-one,
#icon-two,
#icon-three,
#icon-four,
#icon-five,
#icon-six,
#icon-seven {
  width: 45px;
  margin: 0px;
  padding: 0px;
  text-shadow: 5px 5px 6px rgba(78, 80, 82, 0.6);
}
