.current {
  text-align: center;
  margin: 150px 0px 0px 0px;
  position: static;
  top: 10px;
}
#main-icon {
  width: 200px;
  position: relative;
  top: -75px;
}
#current-temperature {
  font-size: 100px;
  position: relative;
  top: -45px;
}
#city {
  font-size: 20px;
  font-weight: bold;
}
.temperature {
  font-size: 100px;
  display: inline-block;
}
p {
  display: inline;
}
.current-info {
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: -20px;
}
.city {
  font-size: 25px;
}
.date {
  display: block;
  margin: 0;
}
.current-advanced {
  margin: 10px auto;
  position: relative;
}
#temp-advanced {
  display: block;
  position: relative;
  top: -55px;
  font-weight: bold;
  margin: 5px;
}
.forecast {
  font-size: 20px;
  position: absolute;
  top: 49%;
  margin: 0px 0px;
}
.search-form {
  display: block;
  position: static;
  text-align: center;
}

.time {
  margin-left: 90%;
  font-size: 30px;
}

.buttons {
  position: relative;
  display: inline;
  left: 80%;
  top: 10%;
}

#f-button,
#c-button {
  border-radius: 45px;
  border-color: black;
  font-size: 20px;
  padding: 10px 15px;
  background: white;
  color: black;
  margin: 15px;
  border-width: 1px;
}

#f-button:hover,
#c-button:hover {
  transition: all 0.2s ease-in-out;
  background: black;
  color: white;
}
footer {
  text-align: center;
  font-size: small;
  opacity: 0.7;
  font-family: monospace;
}

.day1,
.day2,
.day3,
.day4,
.day5,
.day6,
.day7 {
  padding: 5px;
  margin: 5px;
}
#day-1-max,
#day-2-max,
#day-3-max,
#day-4-max,
#day-5-max,
#day-6-max,
#day-7-max,
#day-1-min,
#day-2-min,
#day-3-min,
#day-4-min,
#day-5-min,
#day-6-min,
#day-7-min {
  font-weight: lighter;
}

#city-input {
  border-color: black;
  padding: 12px;
  border-radius: 25px;
}
#city-input:focus {
  outline: none;
}
#submit-button {
  border-radius: 50%;
  padding: 15px 5px;
  background: white;
  border-color: black;
}

#submit-button:hover,
#city-input:hover {
  transition: all 0.2s ease-in-out;
  background: black;
  color: white;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
#icon-one,
#icon-two,
#icon-three,
#icon-four,
#icon-five,
#icon-six,
#icon-seven {
  width: 45px;
  margin: 0px;
  padding: 0px;
}
